@font-face {
    font-family: 'JosefinSans';
    src: url('fonts/Josefin_Sans/static/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  /* 
    AÑADIR FUENTES VARIABLES
    BORDES:#16423C
    BACKGROUND PRINCIPAL:#C4DAD2
    BACKGROUND SECUNDARIO:#E9EFEC
  */

body {
    background-color: #C4DAD2;
    color: black;
    font-family: 'JosefinSans', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: black;
    text-decoration: underline;
}

h1,h2{
    font-family: "Playfair", serif;
}

nav ul {
    list-style-type: none;
    padding: 1em;
    background-color: #E9EFEC;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: 5px solid #16423C;
    border-radius: 5px;
}

nav ul li {
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

nav ul li a:hover{
    text-decoration: underline;
}

section {
    margin-top: 20px;
    border: 2.5px solid #16423C;
    border-radius: 5px;
    padding-left: 1em;
    background-color: #E9EFEC;
}

section h2 {
    font-size: 25px;
    color: black;
}

section p {
    font-size: 18px;
    color: black;
}

footer {
    margin-top: 3em;
    text-align: center;
}
