@font-face {
    font-family: 'JosefinSans';
    src: url('fonts/Josefin_Sans/JosefinSans-VariableFont_wght.woff2') format("woff2"),url('fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf')format("ttf");
    font-style: normal;
  }
  @font-face {
    font-family: 'JosefinSans';
    src: url('fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf')format("ttf");
    font-style: italic;
  }
:root{
    /* Pongo 2 por si quiero cambiar el color de fuente */
    --fuente: hsl(172, 50%, 17%);
    --borde: hsl(172, 50%, 17%);
    --principal: hsl(158, 23%, 81%);
    --secundario: hsl(150, 16%, 93%);
    
}

body {
    background-color: var(--principal);
    color: var(--fuente);
    font-family: 'JosefinSans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

h1,h2{
    font-family: "Playfair", serif;
}

nav ul {
    margin: 1em;
    list-style-type: none;
    padding: 1em;

    background-color: var(--secundario);
    text-align: center;

    display: flex;
    justify-content: space-around;

    border: 5px solid var(--borde);
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--borde);
}

nav ul li {
    display: inline;
}

nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: var(--fuente);
}

nav ul li a:hover{
    text-decoration: underline;
}

section {
    margin: 1em 1em 0 1em;
    padding: 1em;

    border: 2.5px solid var(--borde);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--borde);
    
    background-color: var(--secundario);
    flex-grow: 1;
    flex-basis: min-content;
}

section h2 {
    font-size: 25px;
}

section p {
    font-size: 18px;
}

footer {
    text-align: center;
}

@media (width <= 768px){ 
    main{
        flex-direction: column;
    }
    nav ul li a {
        font-size: 20px;
    }
}
@media (width <= 375px){ 
    nav ul li a {
        font-size: 15px;
    }
}